body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.page-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 1;
    padding: 16px 72px;
    background-color: #1f2937;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.about {
    margin-left: auto;
}

.content-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 48px 30px;
}


.content-container.one { 
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
}

.content-one {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-shrink: 0;
}

.content-container.two {
    display: flex;
    flex-direction: column;
}

.main-text.two {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 25px;
}

.content-two {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-evenly;
    padding-top: 32px;
}

.content-container.three {
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-style: italic;
    font-size: 18px;
}

.quote.main {
    align-items: flex-start;
}

.quote.signature {
    align-items: flex-end;
    font-weight: 800;
}

.content-container.four {
    align-items: center;
}

.content-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    width: 700px;
    background-color: #3882f6;
}

.base-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 100px;
    color: #f9faf8;
}


.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    background-color: #3882f6;
}

.contact-us.two {
    border: solid 2px white;

}

.img-main {
    width: 400px;
}

img {
    min-width: 100px;
    width: 150px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fish {
    border-radius: 25px;
    border: solid #3882f6;
}

.img-text {
    width: 200px;
}

.logo {
    font-size: larger;
    font-weight: 900;
}

.main-text.one {
    font-size: 36px;
    font-weight: 900;
}

.main-text.three {
    font-weight: bolder;
    padding-bottom: 7px;
}

.footer-text {
    display: flex;
    justify-content: center;
    gap: 4px;
    color: #e5e7eb;
}

footer {
    background-color: #1f2937;
    padding: 32px;
}